@{
    TempData["Title"] = "Update On Author";
}
@model TbAuthors
<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">Update  Author</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form method="post" asp-controller="Authors" asp-action="Save">
                    <input type="hidden" asp-for="AuthorId" value="@Model.AuthorId" />
                    <input type="hidden" asp-for="IsDeleted" value="@Model.IsDeleted" />
                    <div class="mb-5">
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" placeholder="Name" asp-for="AuthorName" />
                            <label asp-for="AuthorName"></label>
                        </div>
                        <span asp-validation-for="AuthorName" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="bi bi-check2"></i>
                        Save
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}