@model BookStore.Domains.TbCategories


 @{
    TempData["Title"] = "Create Category";
 }


<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">Add Category</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form method="post" asp-controller="Categories" asp-action="Save">

                    <div class="mb-5">
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                        <div class="form-floating mb-2">                      
                            <input type="text" asp-for="CategoryName"  class="form-control" placeholder="Name" asp-for="CategoryName" />
                            <label > Category Name</label>
                        </div>

                    </div>

                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="bi bi-check2"></i>
                        Save
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}